_site
.sass-cache
.jekyll-cache
.jekyll-metadata
images/gallery/thumbnails/
vendor
debug.log
__pycache__
.DS_STORE
.env*
package.json
package-lock.json
yarn.lock
node_modules
images/publications/**/*.jpg
images/publications/**/*.jpeg
images/publications/**/*.webp
