.background {
  position: relative;
  color: var(--text);
  z-index: 1;
}

.background:before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: -1;
}

[data-dark="true"].background:before {
  filter: saturate(0.75) brightness(0.34) contrast(1.08);
}
