<!--
  modify main content of page:
  - add section breaks
  - attach section properties
  - filter out blank sections
-->

{% assign content = include.content %}

{% assign sections = content | split: "<!-- section break -->" | array_filter %}

{% for section in sections %}
  {% assign dark = section
    | regex_scan: "<dark>(.*?)</dark>"
    | default: ""
  %}
  {% assign image = section
    | regex_scan: "<background>(.*?)</background>"
    | default: nil
  %}
  {% assign size = section
    | regex_scan: "<size>(.*?)</size>"
    | default: "page"
  %}
  {% assign tab_panel = section
    | regex_scan: "<tab-panel>(.*?)</tab-panel>"
    | default: ""
  %}
  {% assign section_content = section
    | regex_replace: "<tab-panel>[^<]*</tab-panel>", ""
  %}

  <section
    class="background{% if page.dir contains '/members/' %} team-section{% endif %}{% if tab_panel != '' %} publication-tab-panel{% endif %}"
    data-size="{{ size }}"
    {% if tab_panel != "" %}
      data-tab-panel="{{ tab_panel }}"
      role="tabpanel"
      {% if tab_panel != "team" %}
        hidden
      {% endif %}
    {% endif %}
    {% if dark == "true" or dark == "false" %}
      data-dark="{{ dark }}"
    {% endif %}
    {% if image %}
      style="--image: url('{{ image | relative_url | uri_escape }}')"
    {% endif %}
  >
    {{ section_content }}
  </section>
{% endfor %}
