{% if include.lookup %}
  {% assign course = site.courses
    | where_exp: "course", "course.slug == include.lookup"
    | first
    | default: include
  %}
{% else %}
  {% assign course = include %}
{% endif %}

{% assign emptyarray = "" | split: "," %}
{% assign semesters = course.semesters | default: emptyarray %}
{% assign latest_semester = semesters | first %}

<div class="course-card">
  <div class="course-card-text">
    {% if course.title %}
      <div class="course-card-title">
        {{ course.title }}
      </div>
    {% endif %}

    {% if course.title_en %}
      <div class="course-card-subtitle">{{ course.title_en }}</div>
    {% endif %}

    {% if latest_semester and latest_semester.year and latest_semester.term %}
      {% assign latest_term_name = latest_semester.term | split: "-" | last %}
      {% assign latest_term_label = latest_term_name %}
      {% case latest_term_name %}
        {% when "spring" %}
          {% assign latest_term_label = "봄" %}
        {% when "summer" %}
          {% assign latest_term_label = "여름" %}
        {% when "fall" %}
          {% assign latest_term_label = "가을" %}
        {% when "winter" %}
          {% assign latest_term_label = "겨울" %}
      {% endcase %}
      <div class="course-card-description">
        {{ latest_semester.year }} {{ latest_term_label }}
      </div>
    {% endif %}

    {% if course.description %}
      <p class="course-card-description">
        {{ course.description | markdownify | remove: "<p>" | remove: "</p>" }}
      </p>
    {% endif %}

    {% if course.tags or course.repo %}
      {% include tags.html tags=course.tags repo=course.repo %}
    {% endif %}
  </div>
</div>
